#line{
    color: #B3B3B3;
    width: 80%;
    box-shadow: 0px 0px 20px 1px rgba(179, 179, 179, 0.4);
}
#img{
    position: absolute;
    left: -100px;
    height: 1304px;
    width: 2753px;
    background-image: url('assets/grid.png');
    background-size: cover;     
    background-position: center; 
    background-repeat: repeat;
    z-index: -1;
    overflow-x: hidden;
}





